<div class="container mt-5">
  <h1><%= @product.name %></h1>
  <div class="row mt-4">
    <div class="col-md-4">
      <img src="<%= @product.image %>" alt="<%= @product.name %>" class="img-fluid">
    </div>
    <div class="col-md-8">
      <h3>Details</h3>
      <ul class="list-group">
        <li class="list-group-item"><strong>Price:</strong> <%= number_to_currency(@product.price) %></li>
        <li class="list-group-item"><strong>Brand:</strong> <%= @product.brand.description %></li>

        <li class="list-group-item"><strong>Description:</strong> <%= @product.description %></li>
        <!-- Agrega más detalles específicos del producto según sea necesario -->
      </ul>
    </div>
  </div>
</div>

<%# <li class="list-group-item"><strong>Categories:</strong> <%= @product.categories.pluck(:name).join(", ") </li> %>
        <%# <li class="list-group-item"><strong>Tags:</strong> <%= @product.tags.pluck(:name).join(", ") </li> %>